.profile-card {
  width: 700px;

  display: flex;
  flex-direction: column;

  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  text-align: center;
  background-color: var(--color-white);
  margin-top: 0;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 16px;
}
h2 {
  margin: 0;
  font-size: 24px;
  color: var(--color-black);
}
.view-github {
  display: inline-block;
  margin: 12px 0;
  padding: 8px 16px;
  background-color: var(--color-black);
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.3px;
  border-radius: 4px;
}
.username {
  margin: 10px 0;
  font-size: 16px;
}
.location,
.repositories,
.followers,
.following {
  font-size: 10px;
  color: var(--color-black);
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location svg,
.repositories svg,
.followers svg,
.following svg {
  margin-right: 10px;
  font-size: 15px;
}
.section-repos {
  display: flex;
  flex-direction: row;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  gap: 20px;
}

.followers-following-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  gap: 20px;
}
.followers,
.following {
  width: 100%;
}

.followers-list,
.following-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.followers h3,
.following h3 {
  text-align: left;

  font-size: 20px;
  margin-left: 0;
  width: 100%;
}

.follower-card,
.following-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  background-color: var(--color-secondary);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.follower-card img,
.following-card img {
  width: 70px;
  height: 70px;

  margin-right: 10px;
}

.follower-card p,
.following-card p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.profile-button {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 5px 20px;
  font-size: 1.4rem;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 4px;
  border: none;
}
.profile-button svg {
  margin-right: 5px;
}
