*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}
:root {
  --primary-color: #f1f1e6;
  --color-secondary: #fff7d6;
  --color-white: #ffffff;
  --color-black: #010101;
}
